.gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Challenge/.vs
/Challenge/.vs/Challenge/v16
/Challenge/Challenge/Debug/Challenge.tlog
/Challenge/Challenge/Debug
/Challenge/Debug
/Challenge/Challenge/x64
/Challenge/x64
/.gitignore
